{% extends 'base.html.twig' %}
{% block title %}Créer un post-it{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto mt-4">
        <h1>Créez un nouveau Post-it</h1>
        {{include('post_it/_form.html.twig', {'submitButtonText': 'Valider'})}}
    </div>
</div>
{% endblock %}
